.circle-background,
.circle-progress {
	fill: none;
}

.circle-background {
	stroke: #eee;
}

.circle-progress {
	stroke-linecap: round;
	stroke-linejoin: round;
}

.circle-text {
	font-size: 12px;
	font-weight: light;
}
