* {
	padding: 0;
	margin: 0;
}
.App {
	display: flex;
	flex-direction: row;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #fff;
}
::-webkit-scrollbar-thumb {
	background-color: #ddd;
}
a {
	text-decoration: none;
}
